	<div class="headLine" style="border-top: thick solid #6a1ccd"/>

<div class="view-wrapper" ng-controller="ClusterCtrl">
	
	<h1 id="title2">{{ currentCluster.name }}</h1>
	<table class="clusterOverviewTable column-left table-risky">
		<tr>
			<th id="riskHeadline">Risky Documents</th>
		</tr>
		<tr ng-repeat="doc in documents" 
		    ng-if="doc.risk >= 70"
		    ng-click="setMasterDoc(doc); activateDoc(doc);">
			<td ng-mouseenter="hover = true"
     			ng-mouseleave="hover = false" 
				ng-style="(doc.name === currentDoc.name || hover) && {'background-color': 'rgba(235,83,78,0.2)'}">
				<span class="documentName">
					{{ doc.name }}
				</span>
				<span class="documentPercentage" id="risk">
					{{ doc.risk }}%
				</span>
			</td>
		</tr>
	</table>

	<table class="clusterOverviewTable column-center table-borderline">
		<tr>
			<th id="borderlineHeadline">Borderline Documents</th>
		</tr>
		<tr ng-repeat="doc in documents" 
			ng-if="doc.risk < 70 && doc.risk >=40"
			ng-click="setMasterDoc(doc); activateDoc(doc);">
			<td ng-mouseenter="hover = true"
     			ng-mouseleave="hover = false" 
				ng-style="(doc.name === currentDoc.name || hover) && {'background-color': 'rgba(235,174,84,0.2)'}">
				<span class="documentName">
					{{ doc.name }}
				</span>
				<span class="documentPercentage" id="borderline">
					{{ doc.risk }}%
				</span>
			</td>
		</tr>
	</table>

	<table class="clusterOverviewTable column-right table-risk-free">
		<tr>
			<th id="riskFreeHeadline">Risk-Free Documents</th>
		</tr>
		<tr ng-repeat="doc in documents" 
			ng-if="doc.risk < 40"
			ng-click="setMasterDoc(doc); activateDoc(doc);">
			<td ng-mouseenter="hover = true"
     			ng-mouseleave="hover = false" 
				ng-style="(doc.name === currentDoc.name || hover) && {'background-color': 'rgba(77,184,83,0.2)'}">
				<span class="documentName">
					{{ doc.name }}
				</span>
				<span class="documentPercentage" id="riskFree">
					{{ doc.risk }}%
				</span>
			</td>
		</tr>
	</table>
</div>