	<div class="headLine" style="border-top: thick solid #6a1ccd"/>

<div class="view-wrapper">
	<table class="clusterOverviewTable column-left table-risky">
		<tr>
			<th id="riskHeadline">Risky Documents</th>
		</tr>
		<tr>
			<td>
				<span class="documentName">
					Document Name
				</span>
				<span class="documentPercentage" id="risk">
					87%
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="documentName">
					Document Name
				</span>
				<span class="documentPercentage" id="risk">
					87%
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="documentName">
					Document Name
				</span>
				<span class="documentPercentage" id="risk">
					87%
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="documentName">
					Document Name
				</span>
				<span class="documentPercentage" id="risk">
					87%
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="documentName">
					Document Name
				</span>
				<span class="documentPercentage" id="risk">
					87%
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="documentName">
					Document Name
				</span>
				<span class="documentPercentage" id="risk">
					87%
				</span>
			</td>
		</tr>
	</table>

	<table class="clusterOverviewTable column-center table-borderline">
		<tr>
			<th id="borderlineHeadline">Borderline Documents</th>
		</tr>
		<tr>
			<td>
				<span class="documentName">
					Document Name
				</span>
				<span class="documentPercentage" id="borderline">
					35%
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="documentName">
					Document Name
				</span>
				<span class="documentPercentage" id="borderline">
					35%
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="documentName">
					Document Name
				</span>
				<span class="documentPercentage" id="borderline">
					35%
				</span>
			</td>
		</tr>
	</table>

	<table class="clusterOverviewTable column-right table-risk-free">
		<tr>
			<th id="riskFreeHeadline">Risk-Free Documents</th>
		</tr>
		<tr>
			<td>
				<span class="documentName">
					Document Name
				</span>
				<span class="documentPercentage" id="riskFree">
					4%
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="documentName">
					Document Name
				</span>
				<span class="documentPercentage" id="riskFree">
					4%
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="documentName">
					Document Name
				</span>
				<span class="documentPercentage" id="riskFree">
					4%
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="documentName">
					Document Name
				</span>
				<span class="documentPercentage" id="riskFree">
					4%
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="documentName">
					Document Name
				</span>
				<span class="documentPercentage" id="riskFree">
					4%
				</span>
			</td>
		</tr>
	</table>
</div>